<div
  cdkDrag
  (cdkDragReleased)="onMoveEnd($event)"
  mwlResizable
  class="window"
  #windowElement
  [cdkDragFreeDragPosition]="windowPosition"
  [enableGhostResize]="true"
  (resizeEnd)="onResizeEnd($event)"
>
  <div cdkDragHandle class="window--actionbar">
    <div class="window--actionbar--close" (click)="closeWindow()"></div>
    <div class="window--actionbar--minimize" (click)="minimize()"></div>
    <div class="window--actionbar--fullscreen" (click)="fullScreen()"></div>
  </div>

  <div class="window--body">
    <h1>TESTE {{windowId}}</h1>
    <div class="window--body--resize"
         mwlResizeHandle
         [resizeEdges]="{ bottom: true, right: true }"></div>
  </div>
</div>
