:host {
  position: absolute;
  height: 0;
  width: 0;
}

.window {
  position: relative;
  width: 250px;
  height: 250px;
  border: #282828 solid .2rem;
  background-color: #4D4D4D;
  border-radius: .7rem;
  overflow: hidden;

  &--actionbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    padding-left: 1rem;
    background-color: #4D4D4D;
    height: 2.6rem;
    border-bottom: #282828 solid .1rem;

    &--close,
    &--minimize,
    &--fullscreen {
      width: 1rem;
      height: 1rem;
      border-radius: 1rem;
      cursor: pointer;
    }

    &--close {
      background-color: red;
    }

    &--minimize {
      background-color: yellow;
    }

    &--fullscreen {
      background-color: green;
    }
  }

  &--body {
    width: 100%;
    height: calc(100% - 2.5rem);
    background-color: white;
    overflow: auto;

    &--resize {
      position: absolute;
      bottom: 0;
      right: 0;
      min-width: 1rem;
      min-height: 1rem;
      cursor: se-resize;
    }
  }
}
